.barra{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.barra__item{
    background-color: #ccc;
    flex-grow: 1;
    text-align: center;
    padding: 8px;
    border-top: 2px solid #ccc;
    font-family: 'Lucida Sans';
}
.barra__item__link{
    text-align: center;
}
#pagina-ativa{
    border-top: 2px solid black
}

@media screen and (max-width: 768px){
    .barra__item{
        padding: 6px;
    }
}