
    .body1{
        background-image: url(/assets/img/fundoo.jpg);
        background-size: cover;
        opacity: 0.5;
        background-position: center;
        background-repeat: no-repeat;
    }

.block{
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
}
 .square{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 }
.block:before {
  content: '';
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
  margin-right: -0.25em;
 }
 
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 5%;
  height: 5%;
 }

 .dh1 {

  font-size: 60px;
  padding: 30px;
  text-align: center;
  color: rgb(87, 60, 25);

 }

 .img {
    max-width:100px;
    max-height:150px;
    width: auto;
    height: auto;
}
.img a{
  font-size: 120px;
  color: rgb(87, 60, 25);
}


.p1{
   margin: 40px;
   text-align: center;
   font-size: 20px;
   font-family: 'Lucida Sans';

}