
.block{
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
}
 .square{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 }
.block:before {
  content: '';
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
  margin-right: -0.25em;
 }
 
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 5%;
  height: 5%;
 }

 .dh1 {
  font-family: 'Lucida Sans';
  font-size: 60px;
  padding: 30px;
  text-align: center;
  color: rgb(87, 60, 25);

 }

 .img {
    max-width:100px;
    max-height:150px;
    width: auto;
    height: auto;
}

