.hero{
    /*background-image: url('../img/hero-buldog.jpg');*/
    background-color: rgb(221, 194, 158);
    height: calc(100vh - 94px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
    box-shadow: inset 0 0 0 2000px rgba(105, 131, 58, 0.274);
    justify-content: center;
    align-items: center;
    display: flex;
}
.hero div{
    position:relative;
    left: -20%;
}
.hero h1{
    color: #fff;
    font-size: 40px;
}