.hero{
    /*background-image: url('../img/hero-buldog.jpg');*/
    background-color: burlywood;
    height: calc(100vh - 94px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
    box-shadow: inset 0 0 0 2000px rgba(105, 131, 58, 0.274);
    align-items: center;
}
.hero div{
    top: 50%;
    position: relative;
}