.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 72px;
    background-color: #f9f9f9;
}
.menu__lista{
    display: flex;
    margin-left: 16px;
}
.menu__lista__item{
    margin-left: 10px;
}
.menu__lista__item:nth-child(1){
    margin-left: 0;
}
.menu__logo{
    width: 68px;
    margin-right: 30px;
}
.conjunto{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}
.conjunto form{
    flex-grow: 1;
}
.formPesquisa{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}
.formPesquisa__buy{
    margin-left: 8px;
    padding: 4px 8px;
    font-size: 12px;
    width: 64px;
    background-color: #f9f9f9;
    border: 1px solid black;
}
.formPesquisa__barra{
    flex-grow: 1;
    padding-left: 8px;
}
.formPesquisa__search{
    border: none;
    padding: 4px;
    font-size: 12px;
    background-color: rgb(51, 40, 40);
    color: #fff;
    width: 64px;
}
